body {
  margin: 0px;
}

header {
  background: #4aaaa5;
  font-size: 45px;
  font-family: bold;
  display: inline;
}

.new {
  background: whitesmoke;
  margin: 0 0 245px 0;
  overflow: auto;
  margin-left: 50px;
  padding-left: 200px;
}

#a {
  float: right;
  margin-right: 30px;
  padding-top: 10px;
}

#port {
  float: right;
  margin-right: 30px;
  padding-top: 10px;
}
#con {
  float: right;
  margin-right: 30px;
  padding-top: 10px;
  padding-right: 180px;
}
#new {
  padding: 20px;
}

#lack {
  color: #4aaaa5;
}
#line {
  margin-inline-end: 6.2cm;
}
footer {
  text-align: center;
  background: #666666;
  height: 30px;
  padding-top: 10px;
  color: white;
  border-top: 8px solid #4aaaa5;
}

#img {
  width: 180px;
  height: 150px;
  float: left;
}
#img1 {
  padding-right: 35px;
  float: left;
}

#img2 {
  padding-right: 30px;
  margin-right:300px;
  float:left;
}

#img3 {
  padding-right: 30px;
  padding-top: 60px;
  float:left;
}

#img4 {
  padding-right: 35px;
  float:left;
}

#img5 {
  padding-right: 30px;
}
hr {
  margin-inline-end: 0.1cm;
}
